body {
  margin:0;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mention {
  border: 1px solid #000;
  border-radius: 0.4rem;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem;
}
.items {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  overflow: hidden;
  padding: 0.2rem;
  position: relative;
}

.item {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  display: block;
  margin: 0;
  padding: 0.2rem 0.4rem;
  text-align: left;
  width: 100%;


}
.item .is-selected {
    border-color: #000;
  }

*:focus {
  outline: none;
}

 p {
  margin: 0;
}

 ul {
   margin: 8px;
   padding: 0;
   padding-left: 4px;
 }
