@tailwind base;
@tailwind components;
@tailwind utilities;


.titleBar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror ul {
  list-style: disc;
  margin-left: 20px;
}

.ProseMirror ol {
  list-style: decimal;
  margin-left: 20px;
}

.ProseMirror a {
  color: blue;
  text-decoration: underline;
}

.ProseMirror ul > li > ul {
  list-style: circle;
}

.ProseMirror ul > li > ul > li > ul {
  list-style: square;
}

.ProseMirror ul > li > ul > li > ul > li > ul {
  list-style: disc;
}

.ProseMirror ul > li > ul > li > ul > li > ul > li > ul {
  list-style: circle;
}

.ProseMirror ul > li > ul > li > ul > li > ul > li > ul > li > ul {
  list-style: square;
}

.ProseMirror .mention {
  background-color: rgba(0,0,0,0.15);
  opacity: 0.7;
  padding: 0 3px;
  border-radius: 4px;
}
